- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

- styles.add(["/styles/monokai.css"])
- styles.add(["/styles/main.css"])

doctype 5
html(lang="en")
  head

    // Meta
    meta(charset="utf-8")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")

    //- Our site title and description
    title= getPreparedTitle()
    meta(name="description", content=getPreparedDescription())
    meta(name="keywords", content=getPreparedKeywords())
    meta(name="author", content=site.author || '')

    //- Output DocPad produced meta elements
    != getBlock('meta').toHTML()

    //- Mobile viewport optimized: h5bp.com/viewport
    meta(name="viewport", content="width=device-width")

    // Icons
    link(rel="shortcut icon", href="ico/favicon.ico")

    //- Shims: IE6-8 support of HTML5 elements
    //if lt IE 9
      script(async src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    // Styles
    != styles.toHTML()
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic', type='text/css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic', type='text/css')

  body
    header.logo
      hgroup
        h1
          a(href='/') mikkolehtinen.com

    article#maincolumn
      section#content.content!= content

    aside#sidebar
      section#recent-posts
          h2 Recent posts
          ul
            each doc in getCollection('posts').toJSON()
              li
                a(href=doc.url)= doc.title

      section#tweets
        h2 Latest tweets
        each tweet in feedr.feeds.twitter
            if !tweet.in_reply_to_user_id
              li
                datetime
                  = (new Date(tweet.created_at)).toShortDateString()
                a(href="https://twitter.com/#!/#{tweet.user.screen_name}/status/#{tweet.id_str}",title="View on Twitter")= tweet.text

    // Scripts
    != scripts.toHTML()